# TODO: change hours to 8-20 when ntp date is fixed
*/5 * * * * { date; /home/pi/local/djinn/python/django-djinn-client/manage.sh server --send-update; } 2>&1 >> ~/cron.log
0 20-23 * * * { date; echo reset state; /home/pi/local/djinn/python/django-djinn-client/manage.sh state --reset; } 2>&1 >> ~/cron.log
